<nav class="nav-links">/ <a class="nav-item" href="/#/list">Event List</a> / <a class="nav-item">Event Edit</a> /</nav>

<h2>Event Edit</h2>
<div class="wrapper-events">
    <div class="event">
        <form>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" ng-model="event.name" required />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" ng-model="event.description" required />
            </div>

            <div class="form-group">
                <label>Maximal amount of guests</label>
                <input class="form-control" type="number" ng-model="event.maximalAmountOfGuests" required />
            </div>

            <div class="form-group">
                <label>Target group</label>
                <input class="form-control" type="text" ng-model="event.targetGroup" required />
            </div>

            <div class="form-group">
                <label>Event contribution description</label>
                <input class="form-control" type="text" ng-model="event.contributionsDescription" required />
            </div>

            <div class="form-group">
                <label>Location</label>
                <input class="form-control" type="text" ng-model="event.location.name" placeholder="Name" required />
                <input class="form-control" type="text" ng-model="event.location.street" placeholder="Street" required />
                <input class="form-control" type="text" ng-model="event.location.plz" placeholder="ZIP Code" required />
                <input class="form-control" type="text" ng-model="event.location.city" placeholder="City" required />
            </div>

            <div class="form-group">
                <label>Times Begin</label>
                <input class="form-control" type="datetime-local" ng-model="event.times.begin" placeholder="yyyy-MM-ddTHH:mm:ss" required />
            </div>

            <div class="form-group">
                <label>Times End</label>
                <input class="form-control" type="datetime-local" ng-model="event.times.end" placeholder="yyyy-MM-ddTHH:mm:ss" required />
            </div>

            <div class="form-group">
                <input class="form-control" type="submit" ng-click="edit(event)" value="Save" />
            </div>
        </form>
    </div>
</div>